<template>
  <section class="pageStuff">
    <section class="hero is-medium is-bold">
      <div class="hero-body">
        <div class="container">
          <h1 class="title is-size-1">
            Gallery
          </h1>
          <h2 class="subtitle is-size-2">
            Under Construction
          </h2>
        </div>
      </div>
    </section>
    <div class="columns">
      <div class="column auto"/>
      <div class="column">
        <svg 
          version="1.1" 
          xmlns="http://www.w3.org/2000/svg" 
          xmlns:xlink="http://www.w3.org/1999/xlink" 
          width="140" 
          height="140" 
          viewBox="0 0 20 20">
          <path 
            d="M3.5 17c-0.132 0-0.261-0.053-0.353-0.147s-0.147-0.222-0.147-0.353 0.053-0.26 0.147-0.353c0.093-0.093 0.222-0.147 0.353-0.147s0.26 0.053 0.353 0.147c0.093 0.093 0.147 0.222 0.147 0.353s-0.053 0.261-0.147 0.353c-0.093 0.093-0.222 0.147-0.353 0.147z" 
            fill="#ac3b61"/>
          <path 
            d="M18.646 9.439l-8.086-8.086c-0.283-0.283-0.659-0.438-1.061-0.438s-0.778 0.156-1.061 0.438l-5.086 5.086c-0.539 0.539-0.695 1.496-0.354 2.179l1.606 3.211c0.049 0.099 0.058 0.193 0.024 0.265s-0.111 0.127-0.219 0.152c-0.086 0.021-2.129 0.521-3.386 1.778-0.661 0.661-1.025 1.54-1.025 2.475s0.364 1.814 1.025 2.475c0.661 0.661 1.54 1.025 2.475 1.025 0 0-0 0 0 0 0.935 0 1.814-0.364 2.475-1.025 1.257-1.257 1.758-3.3 1.778-3.386 0.021-0.089 0.082-0.239 0.249-0.239 0.053 0 0.11 0.015 0.169 0.045l3.211 1.606c0.238 0.119 0.517 0.182 0.808 0.182 0.523 0 1.035-0.2 1.37-0.535l5.086-5.086c0.585-0.585 0.585-1.536 0-2.121zM12.854 15.939c-0.147 0.147-0.408 0.242-0.663 0.242-0.137 0-0.262-0.026-0.361-0.076l-3.211-1.606c-0.199-0.1-0.407-0.15-0.616-0.15-0.586 0-1.077 0.404-1.221 1.006-0.004 0.018-0.458 1.858-1.513 2.912-0.472 0.472-1.1 0.732-1.768 0.732s-1.296-0.26-1.768-0.732c-0.472-0.472-0.732-1.1-0.732-1.768s0.26-1.296 0.732-1.768c1.055-1.055 2.894-1.509 2.912-1.513 0.404-0.097 0.729-0.353 0.892-0.702s0.15-0.763-0.036-1.135l-1.606-3.211c-0.15-0.299-0.070-0.788 0.166-1.024l0.939-0.939 8.793 8.793-0.939 0.939zM17.939 10.854l-3.439 3.439-8.793-8.793 3.439-3.439c0.094-0.094 0.219-0.145 0.354-0.145s0.26 0.052 0.354 0.145l8.086 8.086c0.195 0.195 0.195 0.512 0 0.707z" 
            fill="#ac3b61"/>
        </svg>
      </div>
      <div class="column">
        <svg 
          version="1.1" 
          xmlns="http://www.w3.org/2000/svg" 
          xmlns:xlink="http://www.w3.org/1999/xlink" 
          width="180" 
          height="180" 
          viewBox="0 0 20 20">
          <path 
            d="M17.5 4h-0.5v-0.5c0-0.827-0.673-1.5-1.5-1.5h-14c-0.827 0-1.5 0.673-1.5 1.5v2c0 0.827 0.673 1.5 1.5 1.5h14c0.827 0 1.5-0.673 1.5-1.5v-0.5h0.5c0.276 0 0.5 0.224 0.5 0.5v2c0 0.276-0.224 0.5-0.5 0.5h-8c-0.827 0-1.5 0.673-1.5 1.5v1.586c-0.582 0.206-1 0.762-1 1.414v5c0 0.827 0.673 1.5 1.5 1.5s1.5-0.673 1.5-1.5v-5c0-0.652-0.418-1.208-1-1.414v-1.586c0-0.276 0.224-0.5 0.5-0.5h8c0.827 0 1.5-0.673 1.5-1.5v-2c0-0.827-0.673-1.5-1.5-1.5zM16 5.5c0 0.276-0.224 0.5-0.5 0.5h-14c-0.276 0-0.5-0.224-0.5-0.5v-2c0-0.276 0.224-0.5 0.5-0.5h14c0.276 0 0.5 0.224 0.5 0.5v2zM9 17.5c0 0.276-0.224 0.5-0.5 0.5s-0.5-0.224-0.5-0.5v-5c0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5v5z" 
            fill="#ac3b61"/>
        </svg>
      </div>
      <div class="column grady2 auto"/>
    </div>
    <div class="columns">
      <div class="column grady0 auto"/>
      <div class="column">
        <svg 
          version="1.1" 
          xmlns="http://www.w3.org/2000/svg" 
          xmlns:xlink="http://www.w3.org/1999/xlink" 
          width="400" 
          height="400" 
          viewBox="0 0 20 20">
          <path 
            d="M19.971 16.676c-0.011-0.266-0.136-0.518-0.343-0.693l-2.423-2.043c-0.201-0.169-0.531-0.466-0.72-0.647l-5.403-5.168 0.272-0.272c0.094-0.094 0.146-0.221 0.146-0.354s-0.053-0.26-0.146-0.354l-0.359-0.359c4.967-4.612 7.676-5.817 7.702-5.828 0.218-0.094 0.341-0.328 0.293-0.56s-0.252-0.399-0.49-0.399c-2.051 0-4.065 0.333-5.988 0.991-1.722 0.589-3.341 1.427-4.82 2.494l-0.338-0.338c-0.195-0.195-0.512-0.195-0.707 0l-0.376 0.376-0.563-0.539c-0.394-0.377-1.028-0.37-1.414 0.016l-1.293 1.293c-0.386 0.386-0.393 1.020-0.016 1.414l0.539 0.563-0.376 0.376c-0.195 0.195-0.195 0.512 0 0.707l0.338 0.338c-1.067 1.479-1.905 3.099-2.494 4.82-0.658 1.923-0.991 3.937-0.991 5.988 0 0.237 0.167 0.441 0.399 0.489 0.034 0.007 0.068 0.010 0.102 0.010 0.196 0 0.378-0.116 0.459-0.302 0.012-0.027 1.216-2.736 5.828-7.703l0.359 0.359c0.094 0.094 0.221 0.146 0.354 0.146s0.26-0.053 0.354-0.146l0.272-0.272 5.168 5.403c0.181 0.189 0.478 0.519 0.647 0.72l2.043 2.423c0.174 0.207 0.427 0.332 0.693 0.343 0.013 0.001 0.026 0.001 0.039 0.001 0.252 0 0.498-0.102 0.68-0.284l2.293-2.293c0.191-0.191 0.295-0.453 0.283-0.719zM3.707 5.016c-0.002-0.002-0.002-0.013 0-0.016l1.293-1.293c0.002-0.002 0.013-0.002 0.016-0l0.547 0.523-1.333 1.333-0.523-0.547zM7.129 9.922c-0.096-0.096-0.226-0.149-0.361-0.146s-0.264 0.059-0.357 0.157c-2.741 2.911-4.368 5.092-5.292 6.498 0.36-3.081 1.524-5.982 3.421-8.486 0.151-0.199 0.132-0.479-0.045-0.655l-0.289-0.289 2.793-2.793 0.289 0.289c0.177 0.177 0.456 0.196 0.655 0.045 2.504-1.897 5.405-3.061 8.486-3.421-1.406 0.923-3.587 2.551-6.498 5.292-0.098 0.093-0.155 0.221-0.157 0.357s0.051 0.265 0.146 0.361l0.371 0.371-2.793 2.793-0.371-0.371zM16.719 18.949l-2.014-2.389c-0.183-0.218-0.493-0.562-0.689-0.767l-5.183-5.419 1.542-1.542 5.419 5.183c0.205 0.196 0.549 0.505 0.767 0.689l2.389 2.014-2.23 2.23z" 
            fill="#0d4276"/>
        </svg>
      </div>
      <div class="column">
        <svg 
          version="1.1" 
          xmlns="http://www.w3.org/2000/svg" 
          xmlns:xlink="http://www.w3.org/1999/xlink" 
          width="300" 
          height="300" 
          viewBox="0 0 20 20">
          <path 
            d="M17 6.5c0-0.006-0-0.012-0-0.019 0-0 0-0-0-0-0.005-0.306-0.146-0.753-0.77-1.174-0.396-0.268-0.949-0.504-1.643-0.702-0.527-0.151-1.12-0.275-1.76-0.371-0.501-0.942-2.458-4.234-5.327-4.234-1.121 0-1.707 0.543-2.002 0.999-0.481 0.743-0.611 1.893-0.392 3.431-0.241 0.054-0.473 0.112-0.693 0.175-0.694 0.198-1.246 0.434-1.643 0.702-0.624 0.421-0.765 0.867-0.77 1.174 0 0 0 0 0 0-0 0.006-0 0.013-0 0.019 0 0.090 0.012 0.192 0.044 0.303l1.881 11.286c0.068 0.41 0.369 0.874 0.714 1.104 0.124 0.083 1.312 0.807 4.861 0.807s4.737-0.724 4.861-0.807c0.346-0.23 0.646-0.695 0.714-1.104l1.881-11.286c0.032-0.111 0.044-0.213 0.044-0.303zM15.997 6.478l-0.014 0.081c-0.080 0.165-0.469 0.531-1.671 0.875-1.279 0.365-2.988 0.567-4.812 0.567-0.866 0-1.705-0.045-2.485-0.132-0.134-0.391-0.269-0.811-0.394-1.243-0.143-0.492-0.261-0.957-0.354-1.394 0.979-0.151 2.084-0.231 3.234-0.231 1.025 0 2.014 0.064 2.91 0.184 0.014 0.003 0.028 0.004 0.042 0.006 0.683 0.093 1.311 0.22 1.86 0.377 1.301 0.372 1.65 0.769 1.684 0.911zM12 12.5c0 0.276-0.224 0.5-0.5 0.5s-0.5-0.224-0.5-0.5c0.002-0.152 0.187-0.717 0.334-1.17 0.054-0.165 0.11-0.336 0.166-0.512 0.056 0.176 0.112 0.348 0.166 0.512 0.148 0.454 0.332 1.019 0.334 1.17zM6.337 1.542c0.239-0.37 0.609-0.542 1.163-0.542 1.875 0 3.367 1.942 4.084 3.088-0.668-0.058-1.368-0.088-2.084-0.088-1.207 0-2.372 0.086-3.41 0.246-0.174-1.247-0.093-2.178 0.247-2.704zM4.688 5.567c0.189-0.054 0.388-0.104 0.595-0.151 0.099 0.467 0.225 0.963 0.378 1.489 0.080 0.276 0.163 0.546 0.248 0.806-0.438-0.078-0.848-0.17-1.22-0.277-1.202-0.343-1.591-0.709-1.671-0.875l-0.014-0.081c0.035-0.142 0.383-0.539 1.684-0.911zM14.089 17.925c-0.022 0.134-0.164 0.354-0.278 0.433-0.061 0.035-1.154 0.642-4.311 0.642s-4.251-0.607-4.311-0.642c-0.114-0.079-0.255-0.299-0.278-0.433l-1.66-9.959c0.326 0.158 0.714 0.301 1.162 0.429 0.556 0.159 1.184 0.288 1.863 0.386 0.402 1.106 0.746 1.876 0.768 1.924 0.083 0.185 0.266 0.295 0.456 0.295 0.069 0 0.138-0.014 0.205-0.044 0.252-0.113 0.364-0.409 0.251-0.661-0.004-0.010-0.249-0.557-0.564-1.385 0.675 0.059 1.384 0.090 2.108 0.090 0.495 0 0.982-0.014 1.457-0.042-0.1 0.613-0.357 1.401-0.573 2.062-0.252 0.773-0.384 1.19-0.384 1.48 0 0.827 0.673 1.5 1.5 1.5s1.5-0.673 1.5-1.5c0-0.29-0.132-0.707-0.384-1.48-0.226-0.694-0.498-1.527-0.587-2.151 0.947-0.102 1.817-0.262 2.557-0.474 0.447-0.128 0.836-0.272 1.162-0.429l-1.66 9.959z" 
            fill="#ac3b61"/>
        </svg>
      </div>
      <div class="column">
        <svg 
          version="1.1" 
          xmlns="http://www.w3.org/2000/svg" 
          xmlns:xlink="http://www.w3.org/1999/xlink" 
          width="80" 
          height="80" 
          viewBox="0 0 20 20">
          <path 
            d="M19.354 18.146l-7.146-7.146 6.439-6.439c0.585-0.585 0.585-1.536 0-2.121l-1.086-1.086c-0.283-0.283-0.659-0.438-1.061-0.438s-0.778 0.156-1.061 0.438l-6.439 6.439-7.146-7.146c-0.325-0.325-0.781-0.422-1.19-0.253s-0.663 0.561-0.663 1.022v17.085c0 0.827 0.673 1.5 1.5 1.5h17.085c0.461 0 0.852-0.254 1.022-0.663s0.072-0.865-0.253-1.19zM6.5 14h2.5c0.133 0 0.26-0.053 0.354-0.146l0.146-0.146 2.293 2.293h-7.293c-0.276 0-0.5-0.224-0.5-0.5v-7.293l2.293 2.293-0.146 0.146c-0.094 0.094-0.146 0.221-0.146 0.354v2.5c0 0.276 0.224 0.5 0.5 0.5zM8.793 13h-1.793v-1.793l8-8 1.793 1.793-8 8zM16.5 1.915c0.134 0 0.26 0.052 0.354 0.145l1.086 1.086c0.195 0.195 0.195 0.512 0 0.707l-0.439 0.439-1.793-1.793 0.439-0.439c0.094-0.094 0.219-0.145 0.354-0.145zM18.683 18.954c-0.016 0.038-0.062 0.046-0.098 0.046h-17.085c-0.276 0-0.5-0.224-0.5-0.5v-1.5h0.5c0.276 0 0.5-0.224 0.5-0.5s-0.224-0.5-0.5-0.5h-0.5v-2h0.5c0.276 0 0.5-0.224 0.5-0.5s-0.224-0.5-0.5-0.5h-0.5v-2h0.5c0.276 0 0.5-0.224 0.5-0.5s-0.224-0.5-0.5-0.5h-0.5v-2h0.5c0.276 0 0.5-0.224 0.5-0.5s-0.224-0.5-0.5-0.5h-0.5v-5.585c0-0.036 0.008-0.082 0.046-0.098s0.075 0.011 0.1 0.036l7.146 7.146-1.293 1.293-2.439-2.439c-0.476-0.476-0.889-0.378-1.044-0.314s-0.516 0.287-0.516 0.96v7.5c0 0.827 0.673 1.5 1.5 1.5h7.5c0.674 0 0.896-0.361 0.96-0.516s0.162-0.568-0.314-1.044l-2.439-2.439 1.293-1.293 7.146 7.146c0.025 0.025 0.052 0.063 0.036 0.1z" 
            fill="#145400"/>
        </svg>
      </div>
      <div class="column auto"/>
    </div>
    <div class="columns">
      <div class="column auto"/>
      <div class="column">
        <svg 
          version="1.1" 
          xmlns="http://www.w3.org/2000/svg" 
          xmlns:xlink="http://www.w3.org/1999/xlink" 
          width="400" 
          height="400" 
          viewBox="0 0 20 20">
          <path 
            d="M19.521 0.564l-0.086-0.086c-0.283-0.283-0.659-0.438-1.061-0.438s-0.778 0.156-1.061 0.438l-5.314 5.314-0.146-0.146c-0.195-0.195-0.512-0.195-0.707 0l-1.147 1.147c-0.498-0.488-1.202-0.768-1.936-0.768-0.625 0-1.226 0.203-1.693 0.571-0.031 0.025-3.149 2.469-6.029 3.429-0.204 0.068-0.342 0.259-0.342 0.474 0 2.538 0.988 4.923 2.782 6.717s4.18 2.782 6.717 2.782c0.215 0 0.406-0.138 0.474-0.342 0.96-2.88 3.404-5.997 3.429-6.029 0.83-1.051 0.74-2.673-0.197-3.629l1.147-1.147c0.195-0.195 0.195-0.512 0-0.707l-0.146-0.146 5.314-5.314c0.585-0.585 0.585-1.536-0-2.121zM8.063 7.025c0.48 0 0.934 0.179 1.247 0.492l0.336 0.336c0 0 0 0 0 0l2.836 2.836c0.596 0.596 0.658 1.659 0.136 2.321-0.015 0.019-0.078 0.099-0.177 0.23l-5.679-5.684c0.13-0.098 0.208-0.16 0.227-0.174 0.291-0.23 0.672-0.356 1.073-0.356zM9.148 18.993c-0.745-0.031-1.466-0.158-2.15-0.369 0.967-1.87 2.837-3.751 2.856-3.77 0.195-0.195 0.195-0.512 0-0.707s-0.512-0.195-0.707 0c-0.084 0.084-2.065 2.077-3.091 4.124-0.807-0.359-1.548-0.84-2.199-1.42l2.997-2.997c0.195-0.195 0.195-0.512 0-0.707s-0.512-0.195-0.707 0l-2.997 2.997c-0.58-0.652-1.061-1.392-1.42-2.199 2.047-1.025 4.040-3.007 4.124-3.091 0.195-0.195 0.195-0.512 0-0.707s-0.512-0.195-0.707 0c-0.019 0.019-1.897 1.887-3.77 2.856-0.211-0.684-0.338-1.405-0.369-2.15 1.905-0.7 3.803-1.91 4.936-2.701l5.904 5.91c-0.791 1.133-2 3.030-2.699 4.933zM12.5 9.293l-1.793-1.793 0.793-0.793 1.793 1.793-0.793 0.793zM18.814 1.979l-5.314 5.314-0.793-0.793 5.314-5.314c0.094-0.094 0.219-0.145 0.354-0.145s0.26 0.052 0.354 0.145l0.086 0.086c0.195 0.195 0.195 0.512 0 0.707z" 
            fill="#0d4276"/>
        </svg>
      </div>
      <div class="column auto"/>
    </div>
    <div class="columns grady">
      <div class="column grady0 auto"/>
      <div class="column grady1 auto"/>
      <div class="column grady2 auto"/>
    </div>
  </section>
</template>

<script>
export default {
  layout: 'defaultLayout',
  scrollToTop: true,
  head () {
    return {
      title: 'A.S.K.c Gallery',
      meta: [
        { hid: 'description', name: 'description', content: 'Work in progress' }
      ]
    }
  }
}
</script>
<style scoped>
.hero {
 margin-top: 8vh;
}
.heading {
  text-transform: capitalize;
}
.columns.grady {
  min-height: 10rem;
}
.column.grady0 {
  background: linear-gradient(to bottom right,#ff8a62 0,#ac3b61)
}
.column.grady1 {
  background: linear-gradient(to right,#ff8a62,#ac3b61, #ff8a62)
}
.column.grady2 {
  background: linear-gradient(to bottom left,#ff8a62 0,#ac3b61)
}
</style>
