<template>
  <div class="columns downward">
    <div class="column auto"/>
    <div class="column is-one-third">
      <h3 class="is-size-4">
        A beauty felt
      </h3>
      <svg 
        version="1.1" 
        xmlns="http://www.w3.org/2000/svg" 
        xmlns:xlink="http://www.w3.org/1999/xlink" 
        width="40" 
        height="40" 
        viewBox="0 0 20 20">
        <path 
          d="M18.612 11.154c-0.146-0.253-0.333-0.474-0.551-0.655 0.706-0.591 1.048-1.559 0.795-2.506s-1.035-1.615-1.943-1.773c0.317-0.865 0.129-1.876-0.564-2.569s-1.702-0.881-2.567-0.565c-0.048-0.28-0.146-0.552-0.292-0.805-0.326-0.565-0.852-0.969-1.482-1.137-0.947-0.254-1.916 0.089-2.507 0.796-0.591-0.707-1.56-1.050-2.507-0.796s-1.615 1.035-1.773 1.943c-0.865-0.317-1.876-0.129-2.569 0.564s-0.881 1.702-0.565 2.567c-0.28 0.048-0.552 0.146-0.805 0.292-0.565 0.326-0.969 0.852-1.137 1.482s-0.082 1.288 0.244 1.852c0.146 0.253 0.333 0.474 0.551 0.655-0.706 0.591-1.048 1.559-0.795 2.506s1.035 1.615 1.943 1.773c-0.317 0.865-0.129 1.875 0.564 2.569 0.461 0.461 1.074 0.715 1.726 0.715 0.292 0 0.575-0.051 0.841-0.149 0.049 0.279 0.146 0.55 0.292 0.803 0.326 0.565 0.852 0.969 1.482 1.137 0.21 0.056 0.424 0.084 0.636 0.084 0.423 0 0.84-0.111 1.217-0.328 0.253-0.146 0.474-0.333 0.655-0.551 0.459 0.549 1.147 0.878 1.875 0.878 0.209-0 0.421-0.027 0.631-0.083 0.947-0.254 1.615-1.035 1.773-1.943 0.272 0.099 0.557 0.15 0.843 0.15 0.625 0 1.25-0.238 1.726-0.714 0.461-0.461 0.715-1.074 0.715-1.726 0-0.292-0.051-0.575-0.149-0.841 0.279-0.049 0.55-0.146 0.803-0.292 0.565-0.326 0.969-0.852 1.137-1.482s0.082-1.288-0.244-1.852zM17.89 8.252c0.1 0.372 0.049 0.76-0.144 1.094-0.182 0.316-0.471 0.546-0.816 0.654h-2.957c-0.051-0.458-0.171-0.896-0.349-1.303l2.56-1.478c0.749-0.168 1.506 0.285 1.707 1.033zM9.5 14c-1.93 0-3.5-1.57-3.5-3.5s1.57-3.5 3.5-3.5 3.5 1.57 3.5 3.5-1.57 3.5-3.5 3.5zM15.642 4.358c0.547 0.547 0.562 1.429 0.042 1.994l-2.563 1.48c-0.268-0.363-0.59-0.685-0.953-0.953l1.479-2.562c0.565-0.52 1.447-0.506 1.995 0.041zM10.654 2.254c0.333-0.192 0.722-0.244 1.094-0.144s0.683 0.338 0.875 0.671c0.182 0.316 0.238 0.681 0.159 1.034l-1.479 2.561c-0.407-0.178-0.844-0.299-1.303-0.349v-2.956c0.108-0.346 0.339-0.635 0.654-0.817zM7.252 2.11c0.372-0.1 0.76-0.048 1.094 0.144 0.316 0.182 0.546 0.471 0.654 0.816v2.957c-0.458 0.051-0.896 0.171-1.303 0.349l-1.478-2.56c-0.168-0.749 0.285-1.506 1.033-1.707zM3.358 4.358c0.547-0.547 1.429-0.562 1.994-0.042l1.48 2.563c-0.363 0.268-0.685 0.59-0.953 0.953l-2.562-1.479c-0.52-0.565-0.506-1.447 0.041-1.994zM1.11 8.252c0.1-0.372 0.338-0.683 0.671-0.875 0.316-0.182 0.681-0.238 1.034-0.159l2.561 1.479c-0.178 0.407-0.299 0.844-0.349 1.303h-2.956c-0.346-0.108-0.635-0.339-0.817-0.654-0.192-0.333-0.244-0.722-0.144-1.094zM1.11 12.748c-0.1-0.372-0.048-0.76 0.144-1.094 0.182-0.316 0.471-0.546 0.816-0.654h2.957c0.051 0.458 0.171 0.896 0.349 1.303l-2.56 1.478c-0.749 0.168-1.506-0.285-1.707-1.033zM3.358 16.642c-0.547-0.547-0.562-1.429-0.042-1.994l2.563-1.479c0.268 0.363 0.59 0.685 0.953 0.953l-1.479 2.562c-0.565 0.52-1.447 0.506-1.994-0.041zM8.346 18.746c-0.333 0.192-0.722 0.244-1.094 0.144s-0.683-0.338-0.875-0.671c-0.182-0.316-0.238-0.681-0.159-1.034l1.479-2.561c0.407 0.178 0.844 0.299 1.303 0.349v2.956c-0.108 0.346-0.339 0.635-0.654 0.817zM11.748 18.89c-0.372 0.1-0.76 0.049-1.094-0.144-0.316-0.182-0.546-0.471-0.654-0.816v-2.957c0.458-0.051 0.896-0.171 1.303-0.349l1.478 2.56c0.168 0.749-0.285 1.506-1.033 1.707zM15.642 16.642c-0.547 0.547-1.429 0.562-1.994 0.042l-1.479-2.563c0.363-0.268 0.685-0.59 0.953-0.953l2.562 1.479c0.52 0.565 0.506 1.447-0.041 1.995zM17.89 12.748c-0.1 0.372-0.338 0.683-0.671 0.875-0.316 0.182-0.681 0.238-1.034 0.159l-2.561-1.479c0.178-0.407 0.299-0.844 0.349-1.303h2.956c0.346 0.108 0.635 0.339 0.817 0.654 0.192 0.333 0.244 0.722 0.144 1.094z" 
          fill="#AC3B61"/>
        <path 
          d="M9.5 13c-1.378 0-2.5-1.122-2.5-2.5s1.122-2.5 2.5-2.5 2.5 1.122 2.5 2.5-1.122 2.5-2.5 2.5zM9.5 9c-0.827 0-1.5 0.673-1.5 1.5s0.673 1.5 1.5 1.5c0.827 0 1.5-0.673 1.5-1.5s-0.673-1.5-1.5-1.5z" 
          fill="#AC3B61"/>
      </svg>
      <h3 class="is-size-4">
        Slowly restored
      </h3>
      <svg 
        version="1.1" 
        xmlns="http://www.w3.org/2000/svg" 
        xmlns:xlink="http://www.w3.org/1999/xlink" 
        width="40" 
        height="40" 
        viewBox="0 0 20 20">
        <path 
          d="M16.975 6.407c-0.141-1.689-0.884-3.256-2.113-4.443-1.312-1.267-3.038-1.964-4.862-1.964-1.87 0-3.628 0.728-4.95 2.050-1.181 1.181-1.887 2.71-2.025 4.355-1.823 0.784-3.025 2.589-3.025 4.595 0 2.757 2.243 5 5 5 0.864 0 1.716-0.224 2.464-0.648 0.1-0.057 0.197-0.117 0.292-0.18 0.635 1.562 0.142 2.387-0.297 3.122-0.236 0.396-0.46 0.769-0.46 1.206 0 0.276 0.224 0.5 0.5 0.5h5c0.276 0 0.5-0.224 0.5-0.5 0-0.437-0.223-0.81-0.46-1.206-0.439-0.735-0.931-1.559-0.298-3.12 0.803 0.532 1.756 0.826 2.757 0.826 2.757 0 5-2.243 5-5 0-2.056-1.247-3.826-3.025-4.593zM8.204 19c0.036-0.063 0.075-0.127 0.114-0.193 0.502-0.839 1.251-2.094 0.241-4.296 0.177-0.179 0.34-0.371 0.488-0.575 0.315 0.043 0.634 0.064 0.953 0.064s0.637-0.022 0.952-0.064c0.149 0.206 0.313 0.399 0.488 0.577-1.008 2.201-0.259 3.455 0.242 4.294 0.039 0.066 0.078 0.13 0.114 0.193h-3.592zM15 15c-1.384 0-2.651-0.701-3.389-1.874-0.001-0.001-0.002-0.002-0.002-0.003-0.006-0.009-0.012-0.018-0.018-0.026-0.004-0.005-0.007-0.011-0.011-0.016-0.005-0.006-0.010-0.012-0.015-0.018-0.006-0.007-0.012-0.014-0.018-0.021-0.002-0.002-0.005-0.004-0.007-0.007-0.068-0.067-0.152-0.112-0.242-0.132-0.003-0.001-0.005-0.001-0.008-0.001-0.013-0.003-0.027-0.005-0.040-0.007-0.003-0-0.006-0-0.008-0.001-0.014-0.001-0.027-0.003-0.041-0.003-0.002-0-0.004 0-0.006 0-0.015-0-0.029 0-0.044 0.001-0.001 0-0.003 0-0.004 0.001-0.015 0.001-0.031 0.003-0.046 0.006-0.001 0-0.001 0-0.001 0-0.678 0.125-1.391 0.132-2.073 0.021-0.224-0.1-0.493-0.022-0.627 0.192-0.001 0.001-0.001 0.002-0.002 0.003s-0.001 0.001-0.001 0.002c-0.737 1.179-2.005 1.882-3.394 1.882-2.206 0-4-1.794-4-4 0-1.452 0.789-2.774 2.020-3.476 0.027 0.368 0.083 0.734 0.167 1.091 0.054 0.23 0.26 0.385 0.486 0.385 0.038 0 0.077-0.004 0.115-0.013 0.269-0.063 0.435-0.333 0.372-0.602-0.107-0.451-0.161-0.917-0.161-1.385 0-3.308 2.692-6 6-6 3.009 0 5.494 2.185 5.931 5.087-0.302-0.057-0.613-0.087-0.931-0.087-0.185 0-0.372 0.010-0.555 0.031-0.274 0.030-0.472 0.277-0.442 0.552s0.278 0.472 0.552 0.442c0.147-0.016 0.297-0.024 0.445-0.024 2.206 0 4 1.794 4 4s-1.794 4-4 4z" 
          fill="#AC3B61"/>
      </svg>
      <h3 class="is-size-4">
        Kindly mottainai
      </h3>
      <svg 
        version="1.1" 
        xmlns="http://www.w3.org/2000/svg" 
        xmlns:xlink="http://www.w3.org/1999/xlink" 
        width="40" 
        height="40" 
        viewBox="0 0 20 20">
        <path 
          d="M19.88 13.175l-2.349-2.741c-0.263-0.307-0.638-0.488-1.029-0.496s-0.773 0.157-1.049 0.452l-2.033 2.178c-0.24-0.363-0.548-0.68-0.911-0.935-0.59-0.414-1.285-0.633-2.008-0.633-0.77 0-1.5 0.245-2.112 0.709-0.372 0.282-0.685 0.639-0.919 1.042l-1.943-2.307c-0.262-0.312-0.636-0.493-1.026-0.499s-0.768 0.166-1.039 0.471l-3.336 3.753c-0.183 0.206-0.165 0.522 0.042 0.706s0.522 0.165 0.706-0.042l3.336-3.753c0.079-0.089 0.176-0.137 0.278-0.135 0.1 0.001 0.198 0.052 0.274 0.143l7.356 8.735c0.099 0.117 0.24 0.178 0.383 0.178 0.114 0 0.228-0.039 0.322-0.118 0.211-0.178 0.238-0.493 0.060-0.704l-2.023-2.402 2.756-2.952c0.039-0.031 0.073-0.067 0.1-0.108l2.468-2.644c0.083-0.089 0.189-0.137 0.297-0.135s0.212 0.054 0.291 0.147l2.349 2.741c0.18 0.21 0.495 0.234 0.705 0.054s0.234-0.495 0.054-0.705zM8.173 13.585c0.372-0.943 1.3-1.585 2.327-1.585 0.927 0 1.78 0.523 2.209 1.329l-2.498 2.676-2.038-2.42z" 
          fill="#AC3B61"/>
        <path 
          d="M10.5 10c-0.276 0-0.5-0.224-0.5-0.5v-1c0-0.276 0.224-0.5 0.5-0.5s0.5 0.224 0.5 0.5v1c0 0.276-0.224 0.5-0.5 0.5z" 
          fill="#AC3B61"/>
        <path 
          d="M13 11c-0.128 0-0.256-0.049-0.354-0.146-0.195-0.195-0.195-0.512 0-0.707l1-1c0.195-0.195 0.512-0.195 0.707 0s0.195 0.512 0 0.707l-1 1c-0.098 0.098-0.226 0.146-0.354 0.146z" 
          fill="#AC3B61"/>
        <path 
          d="M8 11c-0.128 0-0.256-0.049-0.354-0.146l-1-1c-0.195-0.195-0.195-0.512 0-0.707s0.512-0.195 0.707 0l1 1c0.195 0.195 0.195 0.512 0 0.707-0.098 0.098-0.226 0.147-0.354 0.147z" 
          fill="#AC3B61"/>
        <path 
          d="M14.493 2.004c-0.064 0-0.129-0.013-0.191-0.039-0.187-0.080-0.306-0.259-0.302-0.462-0.002-0.048-0.019-0.184-0.082-0.298-0.056-0.101-0.149-0.205-0.418-0.205-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5c0.624 0 1.022 0.288 1.25 0.647 0.443-0.31 1.078-0.647 1.75-0.647 0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5c-0.645 0-1.408 0.617-1.647 0.854-0.097 0.097-0.228 0.15-0.36 0.15z" 
          fill="#AC3B61"/>
        <path 
          d="M9 2c-0.057 0-0.113 0.003-0.169 0.007-0.411-1.168-1.525-2.007-2.831-2.007-0.967 0-1.871 0.474-2.43 1.241-0.331-0.157-0.696-0.241-1.070-0.241-1.378 0-2.5 1.122-2.5 2.5s1.122 2.5 2.5 2.5h6.5c1.103 0 2-0.897 2-2s-0.897-2-2-2zM9 5h-6.5c-0.827 0-1.5-0.673-1.5-1.5s0.673-1.5 1.5-1.5c0.43 0 0.84 0.185 1.125 0.508 0.183 0.207 0.499 0.227 0.706 0.044s0.227-0.499 0.044-0.706c-0.002-0.002-0.003-0.003-0.005-0.005 0.372-0.52 0.979-0.841 1.63-0.841 1.103 0 2 0.897 2 2 0 0.276 0.224 0.5 0.5 0.5s0.5-0.224 0.5-0.5c0.551 0 1 0.449 1 1s-0.449 1-1 1z" 
          fill="#AC3B61"/>
        <path 
          d="M17.493 4.004c-0.064 0-0.129-0.013-0.191-0.039-0.187-0.080-0.306-0.259-0.302-0.462-0.002-0.048-0.019-0.184-0.082-0.298-0.056-0.101-0.149-0.205-0.418-0.205-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5c0.624 0 1.022 0.288 1.25 0.647 0.443-0.31 1.078-0.647 1.75-0.647 0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5c-0.645 0-1.408 0.617-1.647 0.854-0.097 0.097-0.228 0.15-0.36 0.15z" 
          fill="#AC3B61"/>
        <path 
          d="M14.493 7.004c-0.064 0-0.129-0.013-0.191-0.039-0.187-0.080-0.306-0.259-0.302-0.462-0.002-0.048-0.019-0.184-0.082-0.298-0.056-0.101-0.149-0.205-0.418-0.205-0.276 0-0.5-0.224-0.5-0.5s0.224-0.5 0.5-0.5c0.624 0 1.022 0.288 1.25 0.647 0.443-0.31 1.078-0.647 1.75-0.647 0.276 0 0.5 0.224 0.5 0.5s-0.224 0.5-0.5 0.5c-0.645 0-1.408 0.617-1.647 0.854-0.097 0.097-0.228 0.15-0.36 0.15z" 
          fill="#AC3B61"/>
      </svg>
    </div>
    <div class="column auto"/>
  </div>
</template>
<script>
export default {
  name: 'LittleInfo'
}
</script>
<style scoped>
.downward {
  margin-top: -100px;
}
.is-one-third{
  background-color: #d9d5d6;
  text-align: center;
  margin: 3rem;
}
h3 {
  margin: 10px;
}
@media (max-width: 799px){
  .downward {
    margin-top: -50px;
  }
}
</style>