@import './bulma/bulma'

@font-face 
  font-family 'MerriweatherSans'
  src url('/fonts/Merriweather-Sans.woff2') format('woff2'),
      url('/fonts/Merriweather-Sans.woff') format('woff')
  font-style normal

@font-face 
  font-family 'MerriweatherSans'
  src url('/fonts/Merriweather-Sans-Italic.woff2') format('woff2'),
      url('/fonts/Merriweather-Sans-Italic.woff') format('woff')
  font-style italic

@font-face 
  font-family 'Merriweather'
  src url('/fonts/Merriweather-Regular.woff2') format('woff2'),
      url('/fonts/Merriweather-Regular.woff') format('woff')
  font-style normal

@font-face 
  font-family 'Merriweather'
  src url('/fonts/Merriweather-Italic.woff2') format('woff2'),
      url('/fonts/Merriweather-Italic.woff') format('woff')
  font-style italic

$accentColor = #ac3b61
$textColor = #413e3c
$borderColor = #d9d5d6
$codeBgColor = #1d150f
$family-sans-serif = 'MerriweatherSans', -apple-system, '.SFNSText-Regular', 'San Francisco', 'Roboto', 'Segoe UI', 'Helvetica Neue', 'Lucida Grande', Arial, sans-serif;
$family-serif = 'Merriweather', Georgia, Times, serif;

body
  font-family $family-sans-serif
  background-color #fefcfb
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale

h1, h2, h3, h4, h5, h6, .title
  font-family $family-serif

h1
  font-size 3rem

h2
  font-size 2.5rem
  padding-bottom .3rem
  border-bottom 1px solid $borderColor

h3
  font-size 2rem

h4
  font-size 1.5rem

h5
  font-size 1.25rem

h6
  font-size 1rem
  
h7
  font-size 0.75rem

.fancyh1 
	text-shadow #bab2b5 1px 3px
	background-image -webkit-gradient (linear-gradient(90deg, #ac3b61, #336ca4))
	background-image linear-gradient(90deg, #ac3b61, #336ca4)
	background-repeat no-repeat
	background-size 100% .2em
	background-position 0 95%

.custom-block
  .custom-block-title
    font-weight 600
    margin-bottom -0.4rem
  &.tip, &.warning, &.danger
    padding .1rem 2rem
    border-left-width .5rem
    border-left-style solid
    margin 4rem 0
  &.tip
    background-color #413e3c
    border-color #ac3b61
    color #413e3c
    & h2, h3, h4, h5 
      color #fefcfb
      a
        color #336ca4
      a:hover
        color #7da9d3
  &.warning
    background-color rgba(255,229,100,.3)
    border-color darken(#ffe564, 35%)
    color darken(#ffe564, 70%)
    .custom-block-title
      color darken(#ffe564, 50%)
    a
      color $textColor
  &.danger
    background-color #ffe6e6
    border-color darken(red, 20%)
    color darken(red, 70%)
    .custom-block-title
      color darken(red, 40%)
    a
      color $textColor

tr:nth-child(2n)
  background-color #413e3c

blockquote
  font-size 1.2rem
  color #413e3c
  border-left .3rem solid #bab2b5
  margin-left 0
  padding 2em 1.5em
  background-color #f2f1f1

.home
  max-width 1408px
  background-color #336ca4

.home .hero
  background-image url('https://res.cloudinary.com/askcreative-space/image/upload/f_auto,q_80/v1523607303/Optimized-heroApril132017.jpg')
  h1
    font-size 4rem 
    background-image linear-gradient(90deg,#6c0729,#0d4276)
    background-size 100% .7rem
    background-position 100% 90%
    background-repeat no-repeat
    color $accentColor
    text-shadow #171412 2px 2px 1px, #d9d5d6 0 0 5px
  .description
    font-size 3rem
    color $accentColor
    text-shadow #171412 2px 2px 1px, #d9d5d6 0 0 5px
    font-family $family-serif

.home .features
  margin 0
  padding 15vh
  background-color #fefcfb
  text-align center

section
  background-color #fefcfb

.section.is-large.bigcat
    padding 0
