<template>
  <section class="section page">
    <div class="columns is-multiline">
      <div class="column is-12" v-for='post in posts' :key='post'>
  
            <article class="card horizontal">
              <div class="card-image">
              <img v-if="post.frontmatter.image" v-bind:src="post.frontmatter.image" />
              </div>
              <div class="card-stacked">
                <div class="card-content">
                <h1 class="is-size-4">{{ post.frontmatter.title }}</h1>
                <p>{{post.frontmatter.description}}</p>
                <router-link :to="post.path">
                  <a class="button is-primary is-outlined">Read</a>
                 </router-link>
                </div>
              </div>
               
          
            </article>
        
   
      </div>
    </div>
  </section>
</template>

<script>
    export default {
        computed: {
            posts() {
                return this.$site.pages
                    .filter(x => x.path.startsWith('/blog/') && !x.frontmatter.blog_index)
                    .sort((a, b) => new Date(b.frontmatter.date) - new Date(a.frontmatter.date))
            }
        }
    }
</script>
<style lang="scss"scoped>
.card {
  background: #fefcfb;
  padding: 1vh;
  box-shadow: 3px 3px 10px #336CA4;
  border-radius: 10px;
}

.horizontal {
  max-height: 20vh;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
}
@media only screen and (max-width: 600px) {
  .horizontal {
      max-height: 40vh;
    }
}
@media only screen and (max-width: 400px) {
  .horizontal {
      max-height: 50vh;
    }
}
.card-image {
  max-width: 25%;
  position: relative;
  overflow: hidden;
}
img {
  border-radius: 2px 0 0 2px;
  max-width: 100%;
  width: auto;
  display: block;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.card-stacked {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}
.card-content {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 1vh;
  border-radius: 0 0 2px 2px;
}
</style>